<a href="https://colab.research.google.com/github/AyushSinghRaghuwanshi/Weather-Prediction/blob/master/Weather_Prediction_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [ ]:
dataset = pd.read_csv("weather.csv")
dataset

   Temperature  Humidity  Pressure  Weather
0           20        89      1013        1
1           25        56      1590        2
2           30        72      2345        3
3           35        25       189        4
4           40        65      1013        5
5           50        70      1134        6
6           10        21      1147        7
7            2        12      1132        8
8           45        56      1145        9

In [ ]:
dataset['Temperature'].fillna(0, inplace=True)

dataset['Humidity'].fillna(dataset['Humidity'].mean(), inplace=True)

X = dataset.iloc[:, :3]
y = dataset.iloc[:, -1]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X,y)
# Saving model to disk
pickle.dump(decision_tree, open('weather1.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('weather1.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[8]